* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#song_list_container {
  width: auto;
    padding: 20px 20px 0px 20px;
    background: linear-gradient(rgba(26, 91, 102, 0.89), rgb(14, 14, 14));
}

.playsongnavicon {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

#song_list_details {
    margin: 5% 0px 0px 2%;
}

#song_intro {
    display: flex;
}

#playlist_play_btn {
  padding: 13px 11px 13px 15px;
  background-color: rgba(0, 189, 0, 0.74);
  border-radius: 100%;
}

#big_text {
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color {
    color: white;
}

#listed_song {
    margin: 30px -20px 90px -20px;
    background: linear-gradient(rgba(19, 19, 19, 0.363), rgb(15, 15, 15));
}

.some_img {
    margin: 5px 0px 0px 30px;
    cursor: pointer;
}

table {
    color: gray;
    overflow-y: hidden;
    border-collapse: collapse;
    width: 95%;
    /* filter: invert(1); */
    text-align: left;
    margin: 20px;
  }

  .sandcname {
    display: flex;
    text-align: left;
  }

  #thead:hover {
    background-color: transparent;
  }

  th {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }

  tr {
    text-align: center;
    padding-bottom: 20px;
  }

  td {
    padding: 10px 0px;
    cursor: pointer;
  }

  tr:hover {
    background-color: rgba(0, 0, 0, 0.185);
  }

  /* song playbar css */
#playbar {
  margin: 10px 0px;
  height: auto;
  width: 100%;
  background-color: rgb(5, 5, 5);
  position: absolute;
  padding-top: 7px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 5px;
}

#control {
  width: 40%;
}

#songcontrol {
  justify-content: left;
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 4px 0px;
}

#songtitle {
  height: 25px;
  overflow: hidden;
}

#currentsongnameandsinger {
  height: 45px;
}

.songtimer {
  color: gray;
  margin: 0px 15px;
}

#seekbar, #volumecontrol {
  height: 4px;
  width: 100%;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#songcircle, #volumecircle {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: white;
  left: 0%;
  transition: left 0.3s;
  cursor: pointer;
}

#songcircle:hover {
  background-color: green;
}

#songdetails {
  width: 50%;
  display: flex;
  color: rgb(211, 211, 211);
  overflow: hidden;
  margin: 5px;
}

#currentsongimg {
  margin: 7px 7px 0px 5px;
}

#currentsongname {
  letter-spacing: 0.5px;
  margin-top: 5px;
  height: 20px;
  overflow: hidden;
}

#currentsongsinger {
  letter-spacing: 0.5px;
  font-size: 14px;
  color: rgba(110, 110, 110, 0.767);
}

#othersongcontrol {
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.othercontrolimg {
  margin: 0px 4px;
}

#volumecontrol {
  width: 40%;
}

@media (max-width: 950px) {
  #songduration, #th5 {
    display: none;
  }

  #currentsongname {
    font-size: 15px;
  }

  #currentsongimg {
    height: 25px;
  }

  table {
    margin: 20px 5px;
  }

  #playlistposter {
    height: 170px;
  }

  #big_text {
    font-size: 50px;
  }
}

@media (min-width: 650px) {
  .playsongnavicon {
    display: none;
  }
}

@media (min-width: 650px) and (max-width : 820px){
  #song_intro {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  #songreleasedate, #th4 {
    display: none;
  }
}

@media (max-width : 560px){
  #song_intro {
    flex-direction: column;
  }

  #big_text {
    font-size: 35px;
  }
}