* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo:hover {
    filter:invert(1);
}

.lfbox {
    background-color: rgb(15, 15, 15);
    margin: 8px 4px;
    border-radius: 5px;
}

#left_box {
    background-color: black;
    z-index: 1;
    width: 22%;
    height: 85vh;
    overflow: hidden;
}

#right_box {
    height: 97vh;
    width: 77%;
    overflow-y: scroll;
}

#right_box::-webkit-scrollbar {
    display: none;
}

.cursor {
    cursor: pointer;
}

#navicon {
    margin-top: 4px;
}

#lb_top {
    padding: 0px 10px;
    height: 210px;
}

#lb_bottom {
    height: 65%;
}

#lb_top ul li {
    font-weight: 500;
    list-style: none;
    color: gray;
    font-size: 17px;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 12px;
}

#lb_top ul li:hover {
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

#lb_top img {
    margin: 10px 0px 15px 10px;
}

#lb_top ul li img {
    margin-bottom: -9px;
}

#lib_div {
    display: flex;
    color: gray;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: bolder;
    padding: 15px;
    justify-content: space-between;
}

#scroll_bar {
    height: 50%;
    overflow-y: scroll;
}

#scroll_bar::-webkit-scrollbar {
    display: none;
}

#lib_div img {
    margin-bottom: -3px;
}

#lib_list {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}

#lib_btn {
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 15px;
    font-weight: bolder;
}

#lib_btn:hover {
    filter: invert(1);
}


/* right side box style */
#navigation {
    width: 74%;
    padding: 10px 20px;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    opacity: 4;
}

#nav_icon {
    background-color: black;
    padding: 8px;
    border-radius: 100%;
    margin: 5px 0px 2px 5px;
}

#card_container {
    margin: 10px;
    display: grid;
  grid: auto / auto auto auto auto auto;
}

.song_card, .podcast_card {
    background-color: rgb(27, 27, 27);
    height: 240px;
    width: 75%;
    border-radius: 5px;
    color: white;
    padding: 15px 15px 0px 15px;
    margin: 10px;
    overflow: hidden;
}

.song_card:hover {
    box-shadow: 1px 1px 15px 15px rgb(12, 12, 12);
}

#poster_img {
    border-radius: 5px;
    height: 60%;
    width: 100%;
}



/* for responsive design */
@media (min-width: 1500px) {
    #card_container {
        grid: auto / auto auto auto auto auto auto;
    }

    .song_card, .podcast_card {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    #card_container {
        grid: auto / auto auto auto auto;
    }
}

@media (max-width: 1000px) {
    #card_container {
        grid: auto / auto auto auto;
    }
}

@media (max-width: 950px) {
    #card_container {
        grid: auto / auto auto auto;
    }

    #left_box {
        width: 32%;
    }
    
    #right_box {
        width: 68%;
    }

    #navigation {
        width: 65%;
    }
}

@media (max-width: 750px) {
    #card_container {
        grid: auto / auto auto;
    }
}

/* for responsive navigation */
@media (max-width: 650px) {
    #left_box {
        position: absolute;
        left: -100vw;
        height: 100vh;
    }

    #right_box {
        width: 100%;
    }

    #navigation {
        width: 92%;
    }
}

@media (min-width: 650px) {
    #closenav {
        display: none;
    }
}